html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.keuangan-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main-content-keuangan {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.text_keuangan {
    text-align: left;
    margin-top: 80px;
    margin-left: 70px;
}

.klik_keuangan {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 100px;
    margin-bottom: 100px;
    margin-top: 80px;
}

.klik_keuangan > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 150px;
    background-color: #C6E6E1;
    border: 1px solid #C6E6E1;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.klik_keuangan > div:hover {
    background-color: #7DAEA8;
}

.icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.footer {
    background-color: #145149;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
