html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.notif-keuangan-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navbar-header-notif-keuangan {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notif-keuangan-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 80px;
}

.content-wrapper-notif-keuangan {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Memastikan konten mengisi ruang yang ada */
}

.header-notif-keuangan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
}

.text_notif-keuangan {
    margin: 0;
}

.upload-laporan {
    background-color: #145149;
    color: white;
    width: 180px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    z-index: 2;
    margin-left: 480px;
}

.upload-laporan:hover {
    background-color: #7DAEA8;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    margin-left: 0px;
}

.search-bar-input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    flex: 1;
    font-size: 18px;
}

.search-bar-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.tabel_notif-keuangan {
    margin: 20px;
    flex: 1;
}

.tabel_notif-keuangan table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;  /* Pusatkan teks secara horizontal */
}

.tabel_notif-keuangan th, .tabel_notif-keuangan td {
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: center;  /* Pusatkan teks secara horizontal */
    vertical-align: middle;  /* Pusatkan teks secara vertikal */
}

.tabel_notif-keuangan th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.tabel_notif-keuangan tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

.tabel_notif-keuangan tr:hover {
    background-color: #f1f1f1;
}


.ket_cetak {
    background-color: #145149;
    color: white;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    font-weight: bold;
}

.ket_cetak:hover {
    background-color: #7DAEA8;
}

.loader {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #666;
}

footer {
    width: 100%;
    flex-shrink: 0;
    background: #f2f2f2; /* Tambahkan warna latar belakang jika diperlukan */
    padding: 10px 0; /* Tambahkan padding agar terlihat lebih baik */
}
