.tambahlaporan-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's on top */
}

.tambahlaporan-popup-content {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 600px; /* Increased width */
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #000;
}

.text-tambahlaporan-popup {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.kolom-tambah-laporan {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.tgl-laporan {
    display: flex;
}
.text-tgl-laporan {
    margin-right: 86px;
    font-size: 16px;
}
.kolom-tgl-laporan {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-no-laporan {
    margin-right: 55px;
    font-size: 16px;
}
.kolom-no-laporan {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-periode-laporan {
    margin-right: 85px;
    font-size: 16px;
}
.kolom-periode-laporan {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}
.unggah-laporan{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.text-unggah-laporan {
    margin-right: 20px;
    font-size: 16px;
}
.kolom-unggah-laporan {
    border-radius: 5px;
    width: 300px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: #000;
}

.tambah-laporan-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px;
}

.tambah-laporan {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    font-weight: bold;
    letter-spacing: 3px;
}

.tambah-laporan:hover {
    background-color: #7DAEA8;
}
