
.simpan-entri-baru {
    background-color: #145149;
    color: white;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    margin-left: 130px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.selesaikan-order-baru{
    background-color: #145149;
    color: white;
    width: 180px;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 200px;
}

.simpan-entri-baru:hover, .selesaikan-order-baru:hover {
    background-color: #7DAEA8;
}

.dropdown-entri-baru {
    margin-left: 55px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #1E7E72;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-entri-baru:hover {
    background-color: #5A9080;
}
