.hasilkuisioner-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.hasilkuisioner-popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px; /* Increased width */
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #333; /* Darker color for the text */
    font-size: 20px; /* Increase font size */
    background: transparent; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    font-family: 'Arial', sans-serif; /* Ensure a clean, sans-serif font */
    font-weight: normal; 
}

.text-hasilkuisioner-popup {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.kolom-hasilkuisioner table {
    border-collapse: collapse;
    width: 100%;
}

.kolom-hasilkuisioner th, .kolom-hasilkuisioner td {
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: left;
    text-align: center; 
    vertical-align: middle; 
}

.kolom-hasilkuisioner th {
    background-color: #f2f2f2;
}

