html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.notifikasi-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navbar-header-notifikasi{
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.notifikasi-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content-wrapper-notifikasi {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Memastikan konten mengisi ruang yang ada */
}

.header-notifikasi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    margin-top: 20px;
}

.text_notifikasi{
    margin: 0;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    width: 350px;
    margin-left: auto;  /* Menempatkan di ujung kanan */
}

.search-bar-input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    flex: 1;
    font-size: 18px;
}

.search-bar-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.tabel_notifikasi {
    margin: 20px;
    flex: 1;
}

.tabel_notifikasi table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;  /* Pusatkan teks secara horizontal */
}

.tabel_notifikasi th, .tabel_notifikasi td {
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: center;  /* Pusatkan teks secara horizontal */
    vertical-align: middle;  /* Pusatkan teks secara vertikal */
}

.tabel_notifikasi th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.tabel_notifikasi tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

.tabel_notifikasi tr:hover {
    background-color: #f1f1f1;
}


.ket_aksi {
    background-color: #1E7E72;
    color: white;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif; /* Mengatur font ke Open Sans */
}

.loader {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #666;
}

footer {
    width: 100%;
    flex-shrink: 0;
    background: #f2f2f2; /* Tambahkan warna latar belakang jika diperlukan */
    padding: 10px 0; /* Tambahkan padding agar terlihat lebih baik */
}
