.simpan-prosedur {
    background-color: #145149;
    color: white;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 100px;
}

.simpan-prosedur:hover {
    background-color: #7DAEA8;
}

.tambah-prosedur{
    justify-content: flex-start;
    background-color: #145149;
    color: #ffffff;
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    z-index: 2;
    margin-top: 50px;
    margin-left: 50px;
 }

.tambah-prosedur:hover {
 background-color: #7DAEA8;
}

.hapus-order-prosedur {
    background-color: #145149;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.hapus-order-surat {
    background-color: #145149;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

