.isicppt-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.isicppt-popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}

.text-isicppt-popup {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.kolom-isi-cppt {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.pemeriksa-cppt {
    display: flex;
}
.text-pemeriksa-cppt {
    margin-right: 68px;
    font-size: 16px;
}
.kolom-pemeriksa-cppt {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-penyakit-cppt {
    margin-right: 20px;
    font-size: 16px;
}
.kolom-penyakit-cppt {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-subjektif-cppt {
    margin-right: 85px;
    font-size: 16px;
}
.kolom-subjektif-cppt {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-objektif-cppt {
    margin-right: 87px;
    font-size: 16px;
}
.kolom-objektif-cppt {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-diagnosis-cppt {
    margin-right: 70px;
    font-size: 16px;
}
.kolom-diagnosis-cppt {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-plan-cppt {
    margin-right: 109px;
    font-size: 16px;
}
.kolom-plan-cppt {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.tindakan-cppt{
    display: flex;
}

.text-tindakan-cppt{
    margin-right: 55px;
    font-size: 16px;
}
.dropdown-tindakan-cppt {
    margin-left: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #7DAEA8;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-tindakan-cppt:hover {
    background-color: #5A9080;
}


.simpan-cppt-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.simpan-cppt, .selesaikan-order {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    letter-spacing: 3px;
}

.simpan-cppt:hover, .selesaikan-order:hover {
    background-color: #7DAEA8;
}
