.tambahobatdr-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.tambahobatdr-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-weight: normal; 
}

.text-tambahobatdr {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.kolom-tambah-dokter {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.nama-obat-dokter {
    display: flex;
    align-items: center;
    position: relative;
}
.text-obat-dokter {
    margin-right: 40px;
    font-size: 16px;
}

.text-kuantitas-dokter {
    margin-right: 50px;
    font-size: 16px;
}
.kolom-kuantitas-dokter {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-dosis-dokter {
    margin-right: 75px;
    font-size: 16px;
}
.kolom-dosis-dokter {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-catatan-dokter {
    margin-right: 60px;
    font-size: 16px;
}
.kolom-catatan-dokter {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.tambah-dokter-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.simpan-dokter {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    letter-spacing: 3px;
}

.simpan-dokter:hover {
    background-color: #7DAEA8;
}

.search-bar-obat-container {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
    position: relative;
}

.search-bar-obat-input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    flex: 1;
    font-size: 16px;
}

.search-bar-obat-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.search-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-results li {
    padding: 10px;
    cursor: pointer;
}

.search-results li:hover {
    background: #eee;
}
