.tambahprosedur-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tambahprosedur-content {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 600px; /* Increased width */
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #000;
}

.text-tambahprosedur {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.kolom-tambah-prosedur {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.nama-prosedur-prosedur {
    display: flex;
    align-items: center;
}

.text-prosedur-prosedur {
    margin-right: 40px;
    font-size: 16px;
}

.text-kuantitas-prosedur {
    margin-right: 85px;
    font-size: 16px;
}

.kolom-kuantitas-prosedur {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-dosis-prosedur {
    margin-right: 108px;
    font-size: 16px;
}

.kolom-dosis-prosedur {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-catatan-prosedur {
    margin-right: 90px;
    font-size: 16px;
}

.kolom-catatan-prosedur {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.tambah-prosedur-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px;
}

.simpan-prosedur {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    height: 40px; /* Set a specific height */
    display: flex;
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    font-weight: bold;
    letter-spacing: 3px;
}

.simpan-prosedur:hover {
    background-color: #7DAEA8;
}

/* Styling for the search bar */
.search-bar-prosedur-container {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
}

.search-bar-prosedur-input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    flex: 1;
    font-size: 16px;
}

.search-bar-prosedur-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}
