.template-surat-sakit-container {
    width: 210mm;
    height: 283mm;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5;
  }
  
  .template-surat-sakit-header{
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  .content-surat-sakit{
    margin-left: 70px;
    margin-right: 70px;
  }

  .ket-header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    margin-bottom: 10px;
    text-align: left;
  }

  .logo_klinik {
    width: 85px;
    height: fit-content;
    margin-right: 30px; 
  }
  
.judul-surat-sakit{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
}

.kal-pertama-sakit{
    margin-bottom: 30px;
}

.isian-surat-sakit {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 10px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.isian-surat-sakit p {
  display: contents;
  line-height: 1;
}

.isian-surat-sakit p span:first-child {
  justify-self: start;
}

.isian-surat-sakit p span:last-child {
  justify-self: start;
  white-space: pre-line;
  word-wrap: break-word;
  text-indent: -10px;
}

.isian-surat-sakit p span:first-child {
  margin-right: 10px;
}

.kal-kedua-sakit, .isian-surat-rujukan{
    text-align: justify;
    margin-bottom: 20px;
}
  
.footer-surat-sakit {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    text-align: left; 
    margin-right: 70px; 
}

.ttd-dokter{
    margin-top: 90px;
}