.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other content */
}

.detail-faktur-popup-container {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.text-detail-faktur {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.kolom-detail-faktur {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.text-metode-pembayaran {
    margin-right: 17px;
    font-size: 16px;
}

.dropdown-pembayaran {
    margin-left: 20px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #7DAEA8;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-pembayaran:hover {
    background-color: #5A9080;
}

.text-diskon-faktur {
    margin-right: 135px;
    font-size: 16px;
}

.kolom-diskon-faktur {
    border-radius: 5px;
    width: 250px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-keterangan-faktur {
    margin-right: 100px;
    font-size: 16px;
}

.kolom-keterangan-faktur {
    border-radius: 5px;
    width: 250px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.simpan-faktur-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.simpan-faktur {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simpan-faktur:hover {
    background-color: #7DAEA8;
}
