.headerkasir-container {
    display: flex;
    justify-content: space-between; /* Menempatkan elemen di ujung kiri dan kanan */
    align-items: center; /* Sejajarkan secara vertikal */
    padding: 10px; /* Atur padding sesuai kebutuhan */
    background-color: #D9D9D9;
    font-family: 'Open Sans', sans-serif;
}

.profil_kasir {
    width: 64px;
    height: 64px;
    margin-left: 30px;
}

.info-kasir {
    display: flex;
    align-items: center; /* Sejajarkan teks secara vertikal */
}

.nama_kasir {
    font-size: 16px; /* Sesuaikan dengan ukuran yang diinginkan */
    margin-left: 20px; /* Jarak antara teks dan gambar profil */
    margin-right: 100px;
}

.datetime-container {
    margin-left: 50px;
}

.clock {
    color: black;
    margin-top: 10px;
}

.button-container-kasir {
    display: flex;
    align-items: center; /* Sejajarkan tombol secara vertikal */
    gap: 50px; 
    margin-right: 50px;
}

.tombol_keluar {
    background-color: #7DAEA8;
    color: black;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px; /* Lengkungan sudut 10px */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* Pusatkan item secara vertikal */
    margin-top: 20px; /* Tambahkan margin atas untuk memberi jarak dari input fields */
    position: relative; /* Diperlukan untuk memposisikan ikon */
}

.tombol_keluar:hover {
    background-color: #1E7E72;
}
