html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.transaksi-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header-transaksi {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.transaksi-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-transaksi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    margin-top: 20px;
}

.text_transaksi {
    margin: 0;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    width: 350px;
    margin-left: auto;
}

.search-bar-input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    flex: 1;
    font-size: 18px;
}

.search-bar-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.tabel_transaksi_wrapper {
    overflow-x: auto; /* Pengguliran horizontal */
    overflow-y: auto; /* Pengguliran vertikal */
    flex: 1;
}

.tabel_transaksi {
    margin: 20px;
}

.tabel_transaksi table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
    table-layout: auto; 
}

.tabel_transaksi th, .tabel_transaksi td {
    padding: 8px 30px;
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle; /* Izinkan teks membungkus menjadi beberapa baris */
    white-space: nowrap;  /* Mencegah teks membungkus */
}

.tabel_transaksi th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.tabel_transaksi tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

.tabel_transaksi tr:hover {
    background-color: #f1f1f1;
}

.tabel_transaksi .detail-faktur-cell {
    justify-content: center;
    align-items: center;
}

.detail-faktur, .cetak-transaksi {
    background-color: #145149;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.detail-faktur:hover, .cetak-transaksi:hover {
    background-color: #7DAEA8;
}

footer {
    width: 100%;
    flex-shrink: 0;
    background: #f2f2f2; 
    padding: 10px 0; 
}
