.simpan-emr-perawat{
    background-color: #145149;
    color: white;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 10px; /* Lengkungan sudut 10px */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* Pusatkan item secara vertikal */
    margin-top: 20px; /* Tambahkan margin atas untuk memberi jarak dari input fields */
    position: relative; /* Diperlukan untuk memposisikan ikon */
    margin-left: 70px;
}


.simpan-emr-perawat:hover {
    background-color: #1E7E72;
}