.simpan-emr-perawat{
    background-color: #145149;
    color: white;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    margin-left: 70px;
}


.simpan-emr-perawat:hover {
    background-color: #1E7E72;
}