.headernrs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #D9D9D9;
    font-family: 'Open Sans', sans-serif;
}

.profil_perawat {
    width: 64px;
    height: 64px;
    margin-left: 30px;
}

.info-perawat {
    display: flex;
    align-items: center;
}

.nama_perawat {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 100px;
}

.datetime-container {
    margin-left: 50px;
}

.clock {
    color: black;
    margin-top: 10px;
}

.button-container-perawat {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 50px;
}

.menu-dropdown-perawat {
    position: relative;
}

.dropdown-perawat {
    position: absolute;
    top: 50px;
    width: 150px;
    left: 0;
    background-color: #7DAEA8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-perawat ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-perawat li {
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}

.dropdown-perawat li:hover {
    background-color: #1E7E72;
}

.tombol_menu_perawat_container, .tombol_keluar {
    background-color: #7DAEA8;
    color: black;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}

.tombol_menu_perawat_container:hover, .tombol_keluar:hover {
    background-color: #1E7E72;
}

.icon_dropdown_perawat {
    position: absolute;
    right: 10px;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.text_menu_perawat {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
}
