.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.tentang_kami {
  margin: 20px 0;
  margin-top: 150px;
}

.klinik_dipo img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px; /* Tambahkan margin bawah untuk memberi jarak antara gambar dan teks */
}

.desc-jam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.desc, .jam {
  width: 100%;
  max-width: 600px;
  text-align: justify;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 20px 0; /* Atur margin untuk mengurangi jarak antara elemen */
}

.desc p span, .jam p span {
  display: block;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

li {
  padding: 5px 0;
}
