/* Menyusun halaman dengan Flexbox */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Container untuk konten utama */
.layanan_container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Margin dan padding untuk elemen dalam layanan */
.layanan_kami {
  text-align: center;
  margin-top: 120px;
  font-family: 'Open Sans', sans-serif;
}

.klinik_dipo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto 70px auto;
  max-width: 1200px; /* Sesuaikan sesuai kebutuhan */
  width: 100%;
}

.klinik_dipo img {
  width: 100%; /* Sesuaikan ukuran gambar sesuai kebutuhan */
  height: auto;
}

.desc {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  width: 100%;
  background-color: #145149;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative; /* Supaya tidak ada space tambahan */
  bottom: 0;
}
