html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.profile_container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1; /* Konten utama akan mengambil semua ruang yang tersedia */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text_profil {
    width: 100%;
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center;
    margin-bottom: 50px;
    font-size: 24px; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: bold; /* Membuat teks lebih tebal */
    margin-left: 0; /* Menghapus margin kiri */
}

.foto_profile {
    margin-bottom: 50px;
    margin-top: 50px;
}

.biodata-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.biodata-fields {
    width: 100%;   /* Lebar penuh untuk memanfaatkan ruang sebaik mungkin */
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.biodata-fields div {
    margin-bottom: 15px;
}

.biodata-fields input[type="text"],
.biodata-fields input[type="date"],
.biodata-fields input[type="email"],
.biodata-fields input[type="password"],
.biodata-fields input[type="file"] {
    width: 450px;  /* Memastikan input lebih lebar */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.biodata-fields input[type="file"] {
    padding: 3px;
}

.biodata-fields input[type="text"]:focus,
.biodata-fields input[type="date"]:focus,
.biodata-fields input[type="email"]:focus,
.biodata-fields input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.simpan-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.simpan {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 65px;
    color: #fff;
    background: #7DAEA8;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-align: center; /* Ensure text is centered */
}

.simpan:hover {
    background: #5F8882;
}

.simpan:active {
    transform: scale(0.95); /* Perbaikan transformasi */
}

.simpan:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(125, 174, 168, 0.6);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .biodata-fields {
        width: 100%;
    }

    .simpan {
        width: 100%;
        font-size: 16px;
    }
}

.footer {
    background-color: #145149;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    flex-shrink: 0; /* Pastikan footer tidak mengecil */
}
