body {
    font-family: 'Open Sans', sans-serif;
}

.riwayat_kunjungan_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text_riwayat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

.tabel_riwayat_kunjungan table {
    width: 100%; /* Menyesuaikan lebar tabel */
    border-collapse: collapse; /* Menghapus ruang antara garis-garis tabel */
}

.tabel_riwayat_kunjungan th, .tabel_riwayat_kunjungan td {
    border: 1px solid #ccc; /* Garis batas abu-abu untuk elemen tabel */
    padding: 8px;
    text-align: center;
    min-width: 250px; /* Menetapkan lebar minimum untuk elemen tabel */
}

.tabel_riwayat_kunjungan th {
    background-color: #f2f2f2; /* Warna latar belakang untuk header tabel */
}

.tombol_selengkapnya{
    background-color: #145149; /* Warna hijau */
    color: white; /* Warna teks putih */
    width: 120px; /* Lebar tetap */
    height: 35px; /* Tinggi tetap */
    border: none; /* Tanpa garis pinggir */
    border-radius: 5px; /* Opsional: sudut membulat */
    font-size: 16px; /* Opsional: ukuran font */
    cursor: pointer; /* Penunjuk untuk menunjukkan bahwa tombol dapat diklik */
    text-align: center; /* Mengatur teks agar rata tengah secara horizontal */
    line-height: 35px; /* Mengatur teks agar rata tengah secara vertikal berdasarkan tinggi tombol */
    display: inline-block; /* Memastikan tombol berperilaku seperti elemen blok namun tetap inline */
}

.tombol_selengkapnya:hover {
    background-color: #7DAEA8; /* Warna hijau sedikit lebih gelap saat mengapung */
}
