/* RiwayatKunjungan.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

.riwayat_kunjungan_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.text_riwayat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    padding: 20px 0;
}

.tabel_riwayat_kunjungan {
    margin: 20px;
    flex: 1;
}

.tabel_riwayat_kunjungan table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;  /* Pusatkan teks secara horizontal */
}

.tabel_riwayat_kunjungan th, .tabel_riwayat_kunjungan td {
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: center;  /* Pusatkan teks secara horizontal */
    vertical-align: middle;  /* Pusatkan teks secara vertikal */
}

.tabel_riwayat_kunjungan th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.tabel_riwayat_kunjungan tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

.tabel_riwayat_kunjungan tr:hover {
    background-color: #f1f1f1;
}

.tombol_selengkapnya {
    background-color: #145149;
    color: white;
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    display: inline-block;
}

.tombol_selengkapnya:hover {
    background-color: #7DAEA8;
}

footer {
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    text-align: center;
    margin-top: auto; /* memastikan footer tetap di bawah */
}
