html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.order-masuk-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navbar-header-pendaftar {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.order-masuk-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 80px;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-order-masuk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    margin-top: 20px;
}

.text_order-masuk {
    margin: 0;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    margin-left: 50px;
}

.search-bar-input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    flex: 1;
    font-size: 18px;
}

.search-bar-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.tabel-pendaftar-baru-wrapper {
    overflow-x: auto;
    flex: 1;
}

.tabel_pendaftar_baru {
    margin: 20px;
    min-width: 1200px;
}

.tabel_pendaftar_baru table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    text-align: center;
}

.tabel_pendaftar_baru th, .tabel_pendaftar_baru td {
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.tabel_pendaftar_baru th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.tabel_pendaftar_baru tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

.tabel_pendaftar_baru tr:hover {
    background-color: #f1f1f1;
}

.proses-obat {
    background-color: #145149;
    color: white;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    font-weight: bold;
}

.proses-obat:hover {
    background-color: #7DAEA8;
}

.loader {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #666;
}

footer {
    width: 100%;
    flex-shrink: 0;
    background: #f2f2f2;
    padding: 10px 0;
}
