/* Mengatur halaman dengan Flexbox */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

/* Container utama untuk layout login */
.login_container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Ini memungkinkan konten utama mengisi sisa halaman */
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Styling untuk elemen-elemen dalam halaman login */
.logo-container {
  text-align: center;
}

.logoklinik {
  width: 170px;
}

.text-login {
  text-align: center;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px;
}

.simki {
  max-width: 150px;
  margin-bottom: 10px;
}

.simki-text {
  font-size: 20px;
  color: rgb(87, 87, 87);
  max-width: 420px;
  line-height: 1.5;
  text-align: justify;
  text-align-last: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 80px;
  background: #D9D9D9;
  border-radius: 6px;
  gap: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.inputs img {
  margin: 0 10px;
}

.inputs input {
  height: 50px;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  font-size: 19px;
}

.forgot-password {
  margin-bottom: 50px;
  color: rgb(87, 87, 87);
  font-size: 15px;
  text-align: center; /* Menempatkan teks di tengah */
}

.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}

.submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px; /* Menambahkan jarak antara tombol */
  margin-bottom: 200px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #7DAEA8; /* Default color for both buttons */
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border: none; /* For HTML buttons */
  text-decoration: none; /* If using styled links as buttons */
}

.submit:hover {
  background: #5F8882;
}

.submit:active {
  transform: scale(0.95);
}

.submit:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(125, 174, 168, 0.6);
}

.gray {
  background: #7DAEA8;
  color: white;
}

