.field-container {
  flex: 1;
  min-width: 0; /* Allow it to shrink below its content width */
  display: flex;
  flex-direction: column;
}

.field-container input,
.field-container select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

.error_message {
  color: red;
  font-size: 1px;
  margin-bottom: 5px;
}

.tempat-tanggal-lahir {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tempat-tanggal-lahir .tpt {
  flex: 1;
}

.regist_container {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
}

.form-container {
  display: flex;
  justify-content: center;
  flex: 1; 
}

.form-fields {
  width: 80%;
  max-width: 600px;
  margin: auto;
  font-size: 16px;
  margin-bottom: 25px;
}

.form-fields input,
.form-fields select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: inherit; 
  font-size: inherit;
}

.form-fields .daftar-container {
  text-align: center;
  margin-top: 20px;
}

.form-fields .daftar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 65px;
  color: #fff;
  background: #7DAEA8;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  text-decoration: none;
  text-align: center; 
  margin-bottom: 150px;
}

.form-fields .daftar:hover {
  background-color: #5F8882;
}

.daftar-container:disabled {
  background-color: #7DAEA8; 
  cursor: not-allowed; 
  opacity: 0.6;
}

.form-fields select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: inherit; 
  font-size: inherit; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; 
  background-color: white; 
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%204%205%27%3E%3Cpath%20fill%3D%27%23ccc%27%20d%3D%27M2%200L0%202h4L2%200z%20M2%205l2-2H0l2%202z%27/%3E%3C/svg%3E'); /* Add custom dropdown icon */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

.form-fields select option:first-child {
  color: gray;
}



.form-fields .gender,
.form-fields .blood,
.form-fields .suku {
  margin-bottom: 0px; /* Maintain spacing consistency */
}
