.jadwal_container {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
}

.klinik_dipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.jadwal_table {
  width: 100%;
  margin-bottom: 20px;
}

.jadwal_table h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.desc-jadwal {
  text-align: center;
}
