/* Menyusun halaman dengan Flexbox */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Container untuk konten utama */
.layanan_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
}

/* Margin dan padding untuk elemen dalam layanan */
.header_layanan_kami {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;

}

/* Gaya untuk elemen gambar klinik */
.klinik_dipo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 20px 0;
  padding: 0 15px;
}

.klinik_dipo img {
  width: 100%;
  height: auto;
}

/* Gaya untuk deskripsi layanan */
.desc-layanan {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  padding: 0 15px;
  margin-bottom: 200px;
}

.footer {
  width: 100%;
  background-color: #145149;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
}

/* Media Queries */

/* Tablet (landscape) dan perangkat yang lebih besar */
@media (min-width: 768px) {


  .desc-layanan {
    font-size: 1.2rem;
  }
}
