html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.profile_container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.text_profil {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 70px;
    font-size: 35px;
    font-weight: bold;
    margin-left: 0;
}

.biodata-pasien-public{
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.kolom-npasien-public{
    width: 300px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    margin-right: 10px;
}

.kolom-nik-public{
    width: 250px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.kolom-ttl-public, .kolom-gender-public, .kolom-gender-public, .kolom-blood-public, .kolom-suku-public, .kolom-email-public, .kolom-password-public{
    width: 560px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.kolom-alamat-public{
    width: 560px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}
.simpan-profil-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.simpan-profil {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 55px;
    color: #fff;
    background: #7DAEA8;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-align: center;
}

.simpan-profil:hover {
    background: #5F8882;
}

.simpan-profil:active {
    transform: scale(0.95);
}

.simpan-profil:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(125, 174, 168, 0.6);
}


.footer {
    background-color: #145149;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    flex-shrink: 0;
}
