html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.notif-pimpinan-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.navbar-header-notif-pimpinan {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.notif-pimpinan-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 80px;
}

.content-wrapper-notif-pimpinan {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-notif-pimpinan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
}

.text_notif-pimpinan {
    margin: 0;
}

.search-bar-container {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    margin-left: 50px;
}

.search-bar-input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    flex: 1;
    font-size: 18px;
}

.search-bar-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.tabel_notif-pimpinan {
    margin: 20px;
    flex: 1;
}

.tabel_notif-pimpinan table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

.tabel_notif-pimpinan th, .tabel_notif-pimpinan td {
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.tabel_notif-pimpinan th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.tabel_notif-pimpinan tr {
    border-bottom: 1px solid #ddd;
    transition: background-color 0.2s ease;
}

.tabel_notif-pimpinan tr:hover {
    background-color: #f1f1f1;
}

.notif-laporan-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.ket_terima-pimpinan, .laporan-pimpinan {
    background-color: #145149;
    color: white;
    width: 80px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
}

.laporan-pimpinan:hover, .ket_terima-pimpinan:hover {
    background-color: #7DAEA8;
}

.loader {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #666;
}

footer {
    width: 100%;
    flex-shrink: 0;
    background: #f2f2f2;
    padding: 10px 0;
}
