.update-status-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other content */
    font-family: 'Open Sans', sans-serif;
}

.update-status-content {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    position: relative;
    z-index: 1001; /* Ensure it appears above the background */
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.text-update-status {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.kolom-update-status {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.text-status-aksi {
    margin-right: 60px;
    font-size: 16px;
}


.kolom-status-aksi {
    border-radius: 5px;
    width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.kolom-keterangan-aksi {
    border-radius: 5px;
    width: 350px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    /* Ensure text is aligned to the top */
    vertical-align: top;
    resize: vertical; /* Allow vertical resizing */
    overflow: auto; /* Add scroll if content overflows */
    margin-right: 20px;
}

/* Ensure the textarea has top alignment */
textarea {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 5px;
    vertical-align: top;
}

.text-keterangan-aksi{
    margin-right: 20px;
}

.updateaksi-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px;
}

.button-updatestatus {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    letter-spacing: 3px;
}

.button-updatestatus:hover {
    background-color: #7DAEA8;
}
