.cetaksurat-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.cetaksurat-popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px; /* Increased width */
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #333; /* Darker color for the text */
    font-size: 20px; /* Increase font size */
    background: transparent; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    font-family: 'Arial', sans-serif; /* Ensure a clean, sans-serif font */
    font-weight: normal; 
}

.text-cetaksurat-popup {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.kolom-cetak-surat {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.text-umur-cetaksurat {
    margin-right: 53px;
    font-size: 16px;
}

.kolom-umur-cetaksurat {
    border-radius: 5px;
    width: 360px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-job-surat {
    margin-right: 20px;
    font-size: 16px;
}

.kolom-job-surat {
    border-radius: 5px;
    width: 360px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-diagnosis-surat {
    margin-right: 20px;
    font-size: 16px;
}

.kolom-diagnosis-surat {
    border-radius: 5px;
    width: 360px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.kadaluarsa-extendsurat {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.text-periode-extendsurat {
    margin-right: 30px;
    font-size: 16px;
}

.kolom-periode-extendsurat {
    border-radius: 5px;
    width: 140px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-hingga-surat {
    margin-right: 10px;
    font-size: 16px;
}

.kolom-hingga-surat {
    border-radius: 5px;
    width: 140px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.perubahan-surat-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px;
}

.perubahan-surat {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
    row-gap: 10px;
    letter-spacing: 3px;
}

.perubahan-surat:hover, .cetak-surat-popup:hover  {
    background-color: #7DAEA8;
}

.cetak-surat-popup{
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 30px;
}
