/* profile.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.identitas_pasien_container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content-identitas-pasien {
    flex: 1; /* Konten utama akan mengambil semua ruang yang tersedia */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text_identitas_pasien {
    width: 100%;
    display: flex;
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center;
    margin-bottom: 0px;
    font-size: 35px; /* Sesuaikan ukuran font sesuai kebutuhan */
    font-weight: bold; /* Membuat teks lebih tebal */
    margin-left: 0; /* Menghapus margin kiri */
    margin-top: 120px;
}

.foto_biodata {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
}

.foto_profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil {
    max-width: 150px;
    border-radius: 50%;
}

.biodata-container-perawat {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 50px;
}

.biodata-fields-perawat {
    width: 100%;   /* Lebar penuh untuk memanfaatkan ruang sebaik mungkin */
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.biodata-pasien-perawat{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.kolom-npasien-perawat{
    width: 300px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    margin-right: 10px;
}

.kolom-nik-perawat{
    width: 250px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.kolom-ttl-perawat, .kolom-gender-perawat, .kolom-gender-perawat, .kolom-blood-perawat, .kolom-suku-perawat, .kolom-email-perawat{
    width: 560px;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.kolom-alamat-perawat{
    width: 560px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.footer {
    background-color: #145149;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    flex-shrink: 0; /* Pastikan footer tidak mengecil */
}
