.kelola-jadwal-container.overlay::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.tambah-jadwal-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.tambah-jadwal-content {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #333; /* Darker color for the text */
    font-size: 20px; /* Increase font size */
    background: transparent; /* No background */
    border: none; /* No border */
    cursor: pointer; /* Pointer cursor */
    font-family: 'Arial', sans-serif; /* Ensure a clean, sans-serif font */
    font-weight: normal;
}

.text-tambah-jadwal, .text-tambah-jadwal{
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.kolom-dokter-jadwal {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.text-ndokter-tambahjadwal {
    margin-right: 53px;
    font-size: 16px;
}
.kolom-ndokter-tambahjadwal {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-poli-tambahjadwal {
    margin-right: 120px;
    font-size: 16px;
}
.kolom-poli-tambahjadwal {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-hari-tambahjadwal {
    margin-right: 120px;
    font-size: 16px;
}
.kolom-hari-tambahjadwal {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-jam-tambahjadwal {
    margin-right: 120px;
    font-size: 16px;
}
.kolom-jam-tambahjadwal {
    border-radius: 5px;
    width: 140px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.tambahjadwal-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px;
}

.button-tambahjadwal {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    letter-spacing: 3px;
}

.button-tambahjadwal:hover {
    background-color: #7DAEA8;
}
