.tambah-jadwal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tambah-jadwal-content {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 600px; /* Increased width */
    position: relative;
}

.cancel-x {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #000;
}

.text-tambah-jadwal{
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.kolom-dokter-jadwal {
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}

.text-ndokter-tambahjadwal {
    margin-right: 53px;
    font-size: 16px;
}
.kolom-ndokter-tambahjadwal {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-poli-tambahjadwal {
    margin-right: 120px;
    font-size: 16px;
}
.kolom-poli-tambahjadwal {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.text-hari-tambahjadwal {
    margin-right: 120px;
    font-size: 16px;
}
.kolom-hari-tambahjadwal {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}


.text-jam-tambahjadwal {
    margin-right: 120px;
    font-size: 16px;
}
.kolom-jam-tambahjadwal {
    border-radius: 5px;
    width: 140px;
    height: 30px;
    padding: 10px;
    font-size: 16px;
}

.tambahjadwal-container {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px;
}

.button-tambahjadwal {
    padding: 10px;
    background-color: #145149;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    font-weight: bold;
    letter-spacing: 3px;
}

.button-tambahjadwal:hover {
    background-color: #7DAEA8;
}
