* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: #145149;
  padding: 20px 0;
  width: 100%;
  margin-top: auto; /* Ensure footer is pushed to the bottom */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.sb__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.sb__footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
  gap: 2rem;
}

.sb__footer-links-div {
  width: 150px;
  margin: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

a {
  color: rgb(175, 175, 179);
  text-decoration: none;
}

.socialmedia {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}

.socialmedia img {
  width: 80%;
}

.sb__footer-links-div h4 {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0.9rem;
  word-spacing: normal;
  letter-spacing: 1.5px;
}

.sb__footer-links-div p {
  font-size: 12px;
  line-height: 15px;
  margin: 0.5rem 0;
  cursor: pointer;
  text-align: center;
  word-spacing: normal;
  letter-spacing: 1.5px;
}

.sb__footer-below {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.sb__footer-copyright {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sb__footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

/* Ensure the footer is at the bottom of the page */
.content-spacing {
  flex: 1;
}
