.footer_private_container {
  background-color: #145149;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  width: 100%;
  margin-top: auto; /* This ensures the footer stays at the bottom */
}

.footer_copyright_private {
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: center; /* Vertically center the text */
  width: 100%;
  padding: 0 20px;
}

.footer_copyright_private p {
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-align: right; /* Align text to the right */
  margin: 0;
}
