.footer_private_container {
  background-color: #145149;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-top: auto;
}

.footer_copyright_private {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.footer_copyright_private p {
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-align: right;
  margin: 0;
}
