.print-surat {
    width: 21cm;
    height: 29.7cm;
    padding: 2cm;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.print-surat header {
    text-align: center;
    margin-bottom: 2cm;
}

.print-surat main {
    margin-bottom: 2cm;
}

.print-surat table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2cm;
}

.print-surat table td {
    border: 1px solid #d3d3d3;
    padding: 8px;
}

.print-surat footer {
    text-align: center;
}

@media print {
    .print-surat {
        box-shadow: none;
        border: none;
    }
}
