.header-container {
    display: flex;
    justify-content: space-between; /* Menempatkan elemen di ujung kiri dan kanan */
    align-items: center; /* Sejajarkan secara vertikal */
    padding: 10px; /* Atur padding sesuai kebutuhan */
    background-color: #D9D9D9;
    font-family: 'Open Sans', sans-serif;
    height: 80px; /* Tinggi header yang diinginkan */
}

.profil_account {
    width: 64px;
    height: 64px;
    margin-left: 30px;
}

.info-account {
    display: flex;
    align-items: center; /* Sejajarkan teks secara vertikal */
    margin-right: 30px; /* Jarak dari datetime-container */
    flex-grow: 1; /* Memastikan info-account mendapatkan ruang yang cukup */
}

/* Container for name and role */
.name-role {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: flex-start;
    margin-left: 20px; /* Align items to the start of the container */
}

/* Style for the user's name */
.nama_account {
    font-size: 16px; /* Adjust as needed */
    font-weight: bold; /* Optional: make the name bold */
    color: #000; /* Adjust color as needed */
    margin-bottom: 4px; /* Space between name and role */
}

/* Style for the user's role */
.role_account {
    font-size: 16px; /* Adjust as needed */
    color: #666; /* Adjust color as needed */
}

.datetime-container {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1; /* Memastikan datetime-container mendapatkan ruang yang cukup */
}

.date {
    margin: 0;
}

.clock {
    margin: 0;
    padding-top: 5px; /* Jarak dari date */
}

.button-container-container {
    display: flex;
    align-items: center; /* Sejajarkan tombol secara vertikal */
    margin-left: auto; /* Memindahkan kontainer tombol ke sebelah kanan */
    margin-right: 10px; /* Tambahkan margin kanan jika diperlukan */
    height: 100%; /* Memastikan kontainer tombol memenuhi tinggi header */
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.menu-dropdown {
    display: flex;
    position: relative;
    margin-top: 20px; /* Untuk menempatkan dropdown di bawah tombol */
}

.dropdown {
    position: absolute;
    top: 50px; /* Posisi dropdown di bawah tombol */
    width: 150px;
    left: 0;
    background-color: #7DAEA8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}

.dropdown li:hover {
    background-color: #1E7E72;
}

.tombol_menu_container {
    background-color: #7DAEA8;
    color: black;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px; /* Lengkungan sudut 10px */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* Pusatkan item secara vertikal */
    position: relative;
    margin-left: 20px; /* Diperlukan untuk memposisikan ikon */
}

.tombol_keluar {
    background-color: #7DAEA8;
    color: black;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px; /* Lengkungan sudut 10px */
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center; /* Pusatkan item secara vertikal */
    margin-top: 20px; /* Tambahkan margin atas untuk memberi jarak dari input fields */
    position: relative;
    margin-left: 20px; /* Diperlukan untuk memposisikan ikon */
}

.tombol_menu_container:hover, .tombol_keluar:hover {
    background-color: #1E7E72;
}

.icon_dropdown {
    position: absolute;
    right: 10px; /* Sesuaikan sesuai kebutuhan */
    pointer-events: none; /* Pastikan ikon tidak mengganggu klik tombol */
    display: flex;
    align-items: center; /* Pusatkan ikon secara vertikal */
}

.text_menu {
    flex-grow: 1; /* Pastikan teks mengambil sisa ruang */
    text-align: left; /* Pusatkan teks */
    margin-left: 10px;
}
