.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #D9D9D9;
    font-family: 'Open Sans', sans-serif;
    height: 80px;
}

.profil_account {
    width: 64px;
    height: 64px;
    margin-left: 30px;
}

.info-account {
    display: flex;
    align-items: center;
    margin-right: 30px;
    flex-grow: 1;
}

.name-role {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}

.nama_account {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 4px;
}

.role_account {
    font-size: 16px;
    color: #666;
}

.datetime-container {
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.date {
    margin: 0;
}

.clock {
    margin: 0;
    padding-top: 5px;
}

.button-container-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.menu-dropdown {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.dropdown {
    position: absolute;
    top: 50px;
    width: 150px;
    left: 0;
    background-color: #7DAEA8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    padding: 10px 20px;
    cursor: pointer;
    color: black;
}

.dropdown li:hover {
    background-color: #1E7E72;
}

.tombol_menu_container {
    background-color: #7DAEA8;
    color: black;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 20px;
}

.tombol_keluar {
    background-color: #7DAEA8;
    color: black;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
    margin-left: 20px;
}

.tombol_menu_container:hover, .tombol_keluar:hover {
    background-color: #1E7E72;
}

.icon_dropdown {
    position: absolute;
    right: 10px;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.text_menu {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
}
